.developer-extensions-index-container {
    margin: auto;
    padding: 2rem 2.25rem;
}

.flb--modal.flb--default-modal > .flb--modal-dialog > .flb--modal-content > .flb--modal-header,
.flb--modal.flb--default-modal > .flb--modal-dialog > .flb--modal-content > .flb--modal-header.flb--extension-modal-header {
    align-items: start;
    padding-bottom: 0;
}

.modal-title--extension-icon-wrapper {
    width: 5rem;
    height: 5rem;
    margin-right: 0.75rem;
}

.flb--extension-tag {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.375rem 1rem;
    border-radius: 0.5rem;
}

.flb--modal.flb--extension-modal > .flb--modal-dialog > .flb--modal-content > .flb--modal-body > .modal-body-container {
    padding-top: 0;
}

.flb--extension-screenshots-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flb--extension-screenshot {
    width: 150px;
    height: 85px;
    border: 3px #fff solid;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

body[data-theme='dark'] .flb--extension-screenshot {
    border: 3px #202a37 solid;
}

.flb--extension-screenshot-lightbox {
    position: absolute;
    z-index: 999999;
    inset: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 45%);
}

.flb--extension-screenshot-lightbox > .flb--extension-screenshot {
    width: 600px;
    height: 350px;
    box-shadow:
        0 10px 15px -3px rgb(0 0 0 / 10%),
        0 4px 6px -4px rgb(0 0 0 / 10%);
}

body[data-theme='dark'] .flb--modal.flb--default-modal.finalize-extension-purchase,
body[data-theme='light'] .flb--modal.flb--default-modal.finalize-extension-purchase,
.flb--modal.flb--default-modal.finalize-extension-purchase {
    pointer-events: none !important;
}

.flb--modal.flb--default-modal.finalize-extension-purchase > .flb--modal-dialog > .flb--modal-content > .flb--modal-header button.close,
body[data-theme='dark'] .flb--modal.flb--default-modal.finalize-extension-purchase > .flb--modal-dialog > .flb--modal-content > .flb--modal-header button.close,
body[data-theme='light'] .flb--modal.flb--default-modal.finalize-extension-purchase > .flb--modal-dialog > .flb--modal-content > .flb--modal-header button.close {
    display: none !important;
    pointer-events: none;
}

.flb--modal.flb--default-modal.stripe-extension-purchase > .flb--modal-dialog > .flb--modal-content,
body[data-theme='dark'] .flb--modal.flb--default-modal.stripe-extension-purchase > .flb--modal-dialog > .flb--modal-content,
body[data-theme='light'] .flb--modal.flb--default-modal.stripe-extension-purchase > .flb--modal-dialog > .flb--modal-content {
    background-color: #fff;
}

.flb--modal.flb--default-modal.stripe-extension-purchase > .flb--modal-dialog > .flb--modal-content > .flb--modal-header,
body[data-theme='dark'] .flb--modal.flb--default-modal.stripe-extension-purchase > .flb--modal-dialog > .flb--modal-content > .flb--modal-header,
body[data-theme='light'] .flb--modal.flb--default-modal.stripe-extension-purchase > .flb--modal-dialog > .flb--modal-content > .flb--modal-header {
    display: none !important;
}

.extension-card-container {
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 5%);
    width: 11rem;
}

body[data-theme='dark'] .extension-card-container {
    border-color: #4b5563;
}

.extension-card-container > .extension-card-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    height: 9rem;
}

.extension-card-container > .extension-card-icon-container > img {
    width: 100%;
    height: 9rem;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.extension-card-container > .extension-card-body-container {
    text-align: left;
    padding: 0.5rem 0.75rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: white;
    border-top: 1px solid #e5e7eb;
    min-height: 5.5rem;
}

body[data-theme='dark'] .extension-card-container > .extension-card-body-container {
    border-top-color: #4b5563;
    background-color: #111827;
}

.extension-card-grid-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-left: -2rem;
}

.extension-card-grid-container > * {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.self-managed-install-instructions {
    list-style: decimal;
    color: #000;
    padding-left: 30px;
    font-size: 0.85rem;
    line-height: 1rem;
}

.self-managed-install-instructions > li {
    padding-bottom: 1.5rem;
}

body[data-theme='dark'] .self-managed-install-instructions {
    list-style: decimal;
    color: #fff;
    padding-left: 30px;
}

.self-managed-install-instructions code {
    display: flex;
    font-family: monospace;
    padding: 0.25rem 0.75rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    background-color: #1f2937;
    border: 1px #374151 solid;
    color: #86efac;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
}

.extension-details-promo-content {
    padding: 0.5rem;
    background-color: #f9fafb;
    color: #000;
}

body[data-theme='dark'] .extension-details-promo-content {
    padding: 0.5rem;
    background-color: #111827;
    color: #f9fafb;
}

.extension-details-promo-content hr {
    border: none;
    border-top: 1px solid #e5e7eb;
    margin: 0.5rem 0;
}

body[data-theme='dark'] .extension-details-promo-content hr {
    border-top: 1px solid #374151;
}

.extension-details-promo-content ol,
.extension-details-promo-content ul {
    padding-left: 25px;
}

.extension-details-promo-content ol {
    list-style: decimal;
}

.extension-details-promo-content ul {
    list-style: disc;
}

.extension-details-promo-content blockquote {
    border-left: 3px #e2e8f0 solid;
    padding-left: 0.5rem;
    margin-left: 0.25rem;
    font-style: italic;
}

body[data-theme='dark'] .extension-details-promo-content blockquote {
    border-left: 3px #4b5563 solid;
}

.extension-details-promo-content pre {
    white-space: pre;
    font-family: monospace;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    background-color: #f3f4f6;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

body[data-theme='dark'] .extension-details-promo-content pre {
    background-color: #1f2937;
}

.extension-details-promo-content pre > code {
    font-family: monospace;
}

.extension-details-promo-content table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
}

.extension-details-promo-content table td,
.extension-details-promo-content table th {
    border: 1px solid #d1d5db;
    box-sizing: border-box;
    min-width: 1em;
    padding: 6px 8px;
    position: relative;
    vertical-align: top;
}

body[data-theme='dark'] .extension-details-promo-content table td,
body[data-theme='dark'] .extension-details-promo-content table th {
    border: 1px solid #374151;
}

.extension-details-promo-content table td > *,
.extension-details-promo-content table th > * {
    margin-bottom: 0;
}

.extension-details-promo-content table th {
    background-color: #e5e7eb;
    font-weight: bold;
    text-align: left;
}

body[data-theme='dark'] .extension-details-promo-content table th {
    background-color: #1f2937;
}

.extension-details-promo-content .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
}
