DATABASE_URL=postgresql://smart_yard_user:postgress@localhost:5433/smart_yard
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
JWT_SECRET_KEY=gQLNBbn3YuZZloUuSx_W6h0g5GJeUKk8Kgi6qKwbvgY_-MF0-LmnqNH70WwswdcV
ENABLE_DEV_ROLE_OVERRIDE=false
NODE_ENV=development